.navigation {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 360px) {
  .navigation {
    height: 30px;
  }
}
.navigation ul {
  display: flex;
  position: relative;
  right: 20px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  z-index: 1;
}
@media (max-width: 360px) {
  .navigation ul li {
    width: 30px;
    height: 30px;
  }
}
.navigation ul li div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.navigation ul li div .icon {
  position: relative;
  display: block;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 360px) {
  .navigation ul li div .icon {
    line-height: 35px;
    
  }
}

.navigation ul li.active div .icon {
  transform: translateY(-23px);
}
@media (max-width: 360px) {
  .navigation ul li.active div .icon {
    
    transform: translateY(-16px);
  }
}

.navigation ul li div .text {
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active div .text {
  opacity: 1;
  transform: translateY(10px);
  font-weight: 700;
  color: black;
}
@media (max-width: 360px) {
  .navigation ul li.active div .text {
    transform: translateY(-2px);
    font-size: 10px;
    margin-top: 10px;
  }
}
.indicator {
  position: absolute;
  top: -50%;
  width: 50px;
  height: 50px;
  background: linear-gradient(
      209deg,
      rgba(66, 36, 12, 1) 3%,
      rgba(173, 140, 69, 1) 27%,
      rgba(98, 59, 28, 1) 39%,
      rgba(96, 54, 1, 1) 47%,
      rgba(157, 198, 167, 1) 50%,
      rgba(204, 149, 68, 1) 53%,
      rgba(147, 125, 20, 1) 64%,
      rgba(212, 172, 43, 1) 78%,
      rgba(125, 94, 42, 1) 88%
    ),
    linear-gradient(315deg, rgb(75, 45, 1) 50%, rgb(80, 247, 219) 100%);
  background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge,
    normal;
  border-radius: 50%;
  border: 6px solid var(--secondaryColor);
  transition: 0.5s;
}
@media (max-width: 360px) {
  .indicator {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 360px) {
  .img {
    width: 20px;
    height: 20px;
  }
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--secondaryColor);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(50px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(50px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(50px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(50px * 3));
}

@media (max-width: 360px) {
  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(30px * 0));
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(30px * 1));
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(30px * 2));
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(30px * 3));
}
}